{% extends "./layout.html" %}
{% block content %}
<div class="uk-container uk-padding-small">
	<h2>Charts</h2>

	<div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
		<div class="uk-card uk-card-body uk-card-default">
			<div class="col-6" id="stacked-bar-chart">
				GRID
			</div>
		</div>
		<div class="uk-card uk-card-body uk-card-default">
			<div class="col-6" id="donut-chart">
				GRID
			</div>
		</div>

	</div>
	<div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
		<div class="uk-card uk-card-body uk-card-default uk-margin-bottom uk-margin-top">
			<div id="pie-chart">

			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<!-- Chart code -->
<script>

	var data = [{
		"partido": "Vox",
		"votos": 1,
		"color": '#16c42a'
	}, {
		"partido": "PSOE",
		"votos": 1
	}, {
		"partido": "PP",
		"votos": 2
	}, {
		"partido": "Podemos",
		"votos": 3
	}
	];
	am4core.ready(function () {

		// Themes begin
		am4core.useTheme(am4themes_animated);
		// Themes end

		// Create chart instance
		var chart = am4core.create("pie-chart", am4charts.PieChart);

		// Add data
		chart.dataSource.url = "/data";
		// recarga cada 500 milis
		chart.dataSource.reloadFrequency = 500;
		// Add and configure Series
		var pieSeries = chart.series.push(new am4charts.PieSeries());
		pieSeries.dataFields.value = "votos";
		pieSeries.dataFields.category = "partido";
		pieSeries.dataFields.color = "#fff";
		pieSeries.slices.template.propertyFields.fill = "color";
		pieSeries.slices.template.stroke = am4core.color("#fff");
		pieSeries.slices.template.strokeWidth = 2;
		pieSeries.slices.template.strokeOpacity = 1;

		// This creates initial animation
		pieSeries.hiddenState.properties.opacity = 1;
		pieSeries.hiddenState.properties.endAngle = -90;
		pieSeries.hiddenState.properties.startAngle = -90;

	}); // end am4core.ready()
</script>
{% endblock %}