{% extends "./layout.html" %}
{% block content %}

<div class="uk-container uk-padding-small">

	<h2>Votaciones</h2>

	{%if message != null %}
	<div class="uk-alert-danger" uk-alert>
		<a class="uk-alert-close" uk-close></a>
		<p>{{message}}</p>
	</div>
	{% endif %}


	<div class="uk-card uk-card-body uk-card-default uk-margin-bottom uk-margin-top">

		<div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>

			{% for option in options %}
			<form method="POST">
				<button class="uk-button uk-button-secondary uk-button-large votingButton" {%if option.color != null %}
					style="background-color: {{option.color}};" {% endif %} name="option"
					value='{{JSON.stringify(option)}}'>{{option.option}}</button>
			</form>
			{% endfor %}

		</div>
	</div>
</div>
{% endblock %}

{% block script %}


{% endblock %}